<body>
	<%= render "shared/left_panel" %>
	<div class="right-panel">
		<div class="breadcrumbs">
			<div class="col-sm-4">
				<div class="page-header float-left">
					<div class="page-title">
						<h1>Dashboard</h1>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="page-header float-right">
					<div class="page-title">
						<ol class="breadcrumb text-right">
							<li><a href="#">Dashboard</a></li>
							<li class="active"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="content mt-3">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-sm-12 mb-4">
						<div class="card-group">
							<div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
								<div class="card-body">
									<div class="h1 text-muted text-right mb-4">
										<i class="fa fa-users text-light"></i>
									</div>
									<div class="h4 mb-0 text-light">
										<% cache :talk_user, :expires_in => 1.hours do %>
											<span class="count"><%= @talk_user.size %></span>
										<% end %>
									</div>
									<small class="text-uppercase font-weight-bold text-light">聊天人數</small>
									<div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
								</div>
							</div>
							<div class="card col-lg-2 col-md-6 no-padding no-shadow">
								<div class="card-body bg-flat-color-2">
									<div class="h1 text-muted text-right mb-4">
										<i class="fa fa-user-plus text-light"></i>
									</div>
									<div class="h4 mb-0 text-light">
										<span class="count">3364</span>
									</div>
									<small class="text-uppercase font-weight-bold text-light">會員人數</small>
									<div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
								</div>
							</div>
							<div class="card col-lg-2 col-md-6 no-padding no-shadow">
								<div class="card-body bg-flat-color-1">
									<div class="h1 text-light text-right mb-4">
										<i class="fa fa-comments-o"></i>
									</div>
									<div class="h4 mb-0 text-light">
										<span class="count">1077006</span>
									</div>
									<small class="text-light text-uppercase font-weight-bold">互動資料</small>
									<div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  	登入帳號：<%= current_user.email %><br >
  	以上資訊每小時更新<br>
  </div>
</body>


