<ul class="list-group list-group-flush border-bottom border-gray-9 m-0">
  <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="https://www.ugooz.cc">
      工作牆
  </a>
  <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="https://project.ugooz.cc">
      友善提案
  </a>
  <%= link_to list_stories_path, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
  	農村故事
  <% end %>
</ul>