<div class="form-group">
  <label for="inputTitle" class="col-sm-2 col-form-label">多圖上傳</label>
  <div>
    <div role="tabpanel" class="tab-pane" id="pic-upload">
      <div class="row my-2">
      </div>
      <div class="btn-group" role="group" aria-label="">
        <button type="button" class="btn btn-secondary btn-sm" id="insert_all_original">全部插入</button>
      </div>
      <hr>
      <%= jquery_fileupload_for_original %>
    </div>
  </div>
</div>