$("#relpy_list_<%= @wrr.work_record_id%>").append("<div class='mt-1'><strong class='mr-2'><%= @user.user_profile.front_name%></strong><%=@wrr.content%></div>");
$("#work_record_reply_content").val("");