<body>
  <%= render "shared/left_panel" %>
  <div id="right-panel" class="right-panel">
    <div class="breadcrumbs">
      <div class="col-sm-4">
        <div class="page-header float-left">
          <div class="page-title">
            <h1>Dashboard</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="page-header float-right">
          <div class="page-title">
            <ol class="breadcrumb text-right">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">資料</a></li>
              <li class="active">農場日誌</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="content mt-3">
      <div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">日誌編輯</strong>
              </div>
              <div class="card-body">
                <!-- Credit Card -->
                <div id="pay-invoice">
                  <div class="card-body">
                    <div class="card-title">
                      <h3 class="text-center"></h3>
                    </div>
                    <hr>
                    <form action="" method="post" novalidate="novalidate">
                      <div class="form-group">
                        <label for="cc-payment" class="control-label mb-1">圖片</label>
                        <img src="<%= @diary.show_url%>">
                      </div>
                      <div class="form-group">
                        <label for="cc-name" class="control-label mb-1">狀態</label>
                        <input id="cc-name" name="cc-name" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                        
                      </div>
                      <div class="form-group">
                        <label for="cc-number" class="control-label mb-1">位置</label>
                        <input id="cc-number" name="cc-number" type="tel" class="form-control cc-number identified visa" value="" data-val="true" data-val-required="Please enter the card number" data-val-cc-number="Please enter a valid card number" autocomplete="cc-number">
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="cc-exp" class="control-label mb-1">濾鏡</label>
                            <input id="cc-exp" name="cc-exp" type="tel" class="form-control cc-exp" value="" data-val="true" data-val-required="Please enter the card expiration" data-val-cc-exp="Please enter a valid month and year" placeholder="MM / YY" autocomplete="cc-exp">
                          </div>
                        </div>
                      </div>
                      <div>
                        <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block">
                          <i class="fa fa-lock fa-lg"></i>&nbsp;
                          <span id="payment-button-amount">Pay $100.00</span>
                          <span id="payment-button-sending" style="display:none;">Sending…</span>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div> <!-- .card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>